{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Diary{% endblock %}

{% block content %}

    <div class="container ">
        <div class="user-profile-container">
            <h1>Diary</h1>

            <div class="form-container">
                {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
                {% include 'modals/instruction-movie-add.html' %}
            </div>


        </div>
    </div>

    <div class="container">
        <div class="user-profile-container">

            {% for movie in movie_list %}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{ movie.img_url }}" alt="Movie Poster" style="height: 400px;width: 250px;">
                        </div>
                        <div class="flip-card-back card-back">
                            <div class="title">
                                <b>{{ movie.title }} <span class="release_date">({{ movie.year }})</span></b>
                            </div>
                            <div class="rating">
                                <label>{{ movie.rating }}</label>
                                <i class="fas fa-star star"></i>
                            </div>
                            <p class="review"><i>My Review: {{ movie.review }}</i></p>
                            <p class="overview">
                                <b>Plot:</b> {{ movie.description }}
                            </p>
                            <a href="{{ url_for('index') }}" class="button">Update</a>
                            <a href="{{ url_for('index') }}" class="button delete-button">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}