{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Diary{% endblock %}

{% block content %}

    <div class="container ">
        <div class="user-profile-container">
            <h1>Diary</h1>

            <div class="form-container">
                {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
                {% include 'modals/instruction-movie-add.html' %}
            </div>


        </div>
    </div>

    <div class="container">
        <div class="user-profile-container">
            {% for movie in movie_list %}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}