{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Movies{% endblock %}

{% block content %}
    <div class="container">
        <div class="user-profile-container">
            <h1 class="heading">{{ movie_to_update.title }}</h1>
            <h2>{{ movie_to_update.year }}</h2>
            <p class="edit-movie">{{ movie_to_update.description }}</p>
            <img src="{{ movie_to_update.img_url }}" alt="Movie Poster" style="height: 400px;width: 250px;">

            {% include 'modals/update-movie-modal.html' %}
            <div class="update-movie-btn">
                <a class="btn btn-success" href="#form" data-toggle="modal" data-target="#form">Rating and Review</a>
            </div>

        </div>

    </div>
{% endblock %}