{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}

    <div class="container">
        <div class="user-profile-container user">
            <img src="static/images/user.png" alt="Pic" class="user-pic">
            <h3>Welcome {{ current_user.name }}</h3>
            <div class="row">

                <div class="col-md-12">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ current_user.id }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ current_user.name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ current_user.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'modals/user-update-modal.html' %}
            <a class="btn btn-success" href="#form" data-toggle="modal" data-target="#form">Update Info</a>
            <a class="btn btn-success" href="{{ url_for ('diary') }}" role="button">Go to Diary</a>
        </div>

    </div>




{% endblock %}