<a href="#bannerformmodal" data-toggle="modal" data-target="#bannerformmodal">Help</a>

<div class="modal fade" id="bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">How to use it?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Augue
                    lacus viverra vitae congue eu consequat ac. Et egestas quis ipsum suspendisse ultrices gravida
                    dictum
                    fusce. Ac placerat vestibulum lectus mauris ultrices eros in cursus turpis. Lacus vestibulum sed
                    arcu
                    non odio euismod lacinia. Viverra tellus in hac habitasse platea dictumst vestibulum. Urna neque
                    viverra
                    justo nec. Mattis nunc sed blandit libero volutpat sed cras ornare arcu. Id leo in vitae turpis
                    massa
                    sed. Odio aenean sed adipiscing diam donec adipiscing tristique risus. Semper quis lectus nulla at
                    volutpat diam ut. Odio tempor orci dapibus ultrices. Ultricies tristique nulla aliquet enim. Vitae
                    tortor condimentum lacinia quis vel eros. Elit eget gravida cum sociis. Ut consequat semper viverra
                    nam.
                    Ornare lectus sit amet est. Nunc sed augue lacus viverra vitae congue eu consequat ac. Aenean vel
                    elit
                    scelerisque mauris.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
