{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 jumbo-color">Movies Diary</h1>
            <p class="lead jumbo-color">Fusce vitae augue id purus condimentum tincidunt vel a libero.</p>
            <hr class="my-4 jumbo-color">
            <p class="jumbo-color">Sed vitae congue arcu. Cras nec sapien nisl. Pellentesque finibus elementum pulvinar.
                Donec rhoncus quam ut arcu rhoncus, a dignissim neque congue. Maecenas elit lectus, lacinia quis
                pharetra in, porta in nulla.</p>
        </div>
    </div>

    {% include 'common/flash-message.html' %}


    <div class="container form-container">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "success"}) }}
    </div>


{% endblock %}