<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFC107;">
        <div class="container-fluid">
            <a class="navbar-brand heading" href="#">Movies Diary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for ('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for ('about') }}">About</a>
                    </li>
                    {% if not current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for ('login') }}">Log In</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for ('register') }}">Register</a>
                        </li>

                    {% else %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item disabled dropdown-user-text"
                                   href="#">{{ current_user.name }}</a>
                                <a class="dropdown-item disabled dropdown-user-text"
                                   href="#">{{ current_user.email }}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item dropdown-user-text"
                                   href="{{ url_for ('profile', userid=current_user.id) }}">View
                                    Profile</a>
                                <a class="dropdown-item dropdown-user-text" href="{{ url_for ('diary') }}">My Diary</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item dropdown-user-text" href="{{ url_for ('logout') }}">Log Out</a>
                            </div>
                        </li>

                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>
</div>
