{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    {% include 'styles.html' %}
{% endblock %}

{% block title %}MDiary{% endblock %}

{% block navbar %}
    {% include 'navigation.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="heading">Movies Diary</h1>
        <h3 class="description">Movies in a Jar</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut etiam sit amet nisl purus. Quam nulla porttitor massa id neque aliquam vestibulum. Diam
            phasellus vestibulum lorem sed risus ultricies tristique. Velit scelerisque in dictum non consectetur a
            erat. Neque vitae tempus quam pellentesque nec nam aliquam sem et. Sit amet nulla facilisi morbi tempus
            iaculis. Id interdum velit laoreet id donec ultrices. Eu augue ut lectus arcu bibendum at varius vel. Lacus
            luctus accumsan tortor posuere ac ut consequat semper. Vel elit scelerisque mauris pellentesque pulvinar
            pellentesque habitant morbi tristique.</p>
    </div>
    <div class="container">
        <h1 class="heading">Pick of the day</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.ubuy.hu/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNjFGbStOK05uY0wuX0FDX1NMMTAwOF8uanBn.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/5cae019e64c0ee10ead36a00e60f0137_8b8714b2-b733-44ec-8f3f-f131a04915b5_240x360_crop_center.progressive.jpg?v=1614780406"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.al.com/resizer/uQVPmZZslOXT0e_5eAHQa1rZ9So=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.al.com/home/bama-media/width2048/img/entertainment_impact/photo/20563816-standard.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% include 'footer.html' %}
    </div>

{% endblock %}