<div class="container">
    <nav class="navbar">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for ('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for ('about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for ('test') }}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Register</a>
            </li>
        </ul>
    </nav>
</div>